#left_part{
    background-color: #ffffff;
    height: 800px;
    padding: 0;
}

#right_part{
    /*background-color: burlywood;*/
}
#tool_box{
    margin-top:30px;
}
.tool_btn{
    height: 40px;
    width: 200px;
    background-color: #f7f7f7;
    border: solid 1px #b5b5b5;
}