body{
	/*background-color: #01a252;*/
	/*min-width: 600em;*/
}
.minf{
	margin-bottom: 20px;
	width: 100%;
	margin-left: 5%
}

.namlab{
	width: 70px; 
	float:left;
	margin-left: 1%;
	/*background-color: yellow;*/
}

.minf_input{
	margin-left: 30px;
	width: 20%;
    border: solid 0.5px #c8c8d0;
    -webkit-transition: border .5s;
	/*background-color: red;*/
    outline: none;

}
.minf_input:focus{
    /*border-color: #84d0c9;*/
    border-color: #3f82c5;
    -webkit-transition: border .5s;
}

.tip{
	margin-left: 30px;
	color: red;
}
#tags_pool{
    /*height: 100px;*/
    width: 80%;
    margin-left:70px;
    /*background-color: rgb(151,151,151);*/
}
