<<<<<<< HEAD
body{
    background-color: #ffffff;
}
div{
    /*background-color: #2aabd2;*/
    /*border: solid 1px red;*/
}

#left_part{
    background-color: #f6f6f6;
    height: 1000px;
}

#right_part{
    /*background-color: #2aabd2;*/
    /*border: solid 1px #c5a6a8;*/
    height:1000px;
=======
div{
    background-color: #2aabd2;
    border: solid 1px red;
>>>>>>> a4424b7bef7d30e49ff19adcc4a8e23014640d00
}