#body{
    /*padding: 0;*/
}
#outline_article{
    margin-top: 50px;
    /*background-color: red;*/
}
#article_board{
    /*background-color: #f6ebcb;*/
    background-color: #f6f6f6;
    /*background-color: #afd9ee;*/

}
#moutline{
    background-color: #ffffff;
    height: 700px;
}
#q,#entry_search{
    outline: none;
    height: 32px;
    margin-left:20px;
    width: 80%;
    border: solid 1px #d3dad8;
    -webkit-transition: border .5s;
}
#q:hover,#q:focus,#entry_search:hover,#entry_search:focus{
    border: solid 1px #3f82c5!important;
    -webkit-transition: border .5s;
}

/*#q:focus{*/
    /*border: solid 1px #3f82c5!important;*/
    /*-webkit-transition: border .5s;*/
/*}*/
