#body{
    /*padding: 0;*/
}
#outline_article{
    margin-top: 50px;
    /*background-color: red;*/
}
#article_board{
    /*background-color: #f6ebcb;*/
    background-color: #f6f6f6;
}
#moutline{
    background-color: #ffffff;
    height: 700px;
    overflow: auto;
}
#q,#entry_search{
    outline: none;
    height: 32px;
    margin-left:20px;
    width: 80%;
    border: solid 1px #d3dad8;
    -webkit-transition: border .5s;
}
#q:hover,#q:focus,#entry_search:hover,#entry_search:focus{
    border: solid 1px #3f82c5!important;
    -webkit-transition: border .5s;
}

/*#q:focus{*/
    /*border: solid 1px #3f82c5!important;*/
    /*-webkit-transition: border .5s;*/
/*}*/

#search_bar{
    height: 40px;
    margin-bottom: 10px;
    margin-top:10px;
    /*background-color: chocolate;*/
}
#search_module{
    float: right;
}
/*#search_input{*/
    /*margin-top:5px;*/
    /*margin-bottom:5px;*/
    /*height: 30px;*/
    /*width: 400px;*/
    /*border: solid 1px #d7d7d7;*/
    /*outline:none;*/
    /*-webkit-transition: all .5s;*/
    /*-moz-transition: all .5s;*/
    /*-ms-transition: all .5s;*/
    /*-o-transition: all .5s;*/
    /*transition: all .5s;*/
/*}*/
/*#search_input:hover,#search_input:focus{*/
    /*border-color: #3d95dd;*/
/*}*/
/*#search_btn{*/
    /*background-color: #3d95dd;*/
    /*color:white;*/
    /*border:solid 0;*/
    /*height: 30px;*/
/*}*/
